.formInline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas: "contentLeft contentLeft contentLeft contentRight";
}
.contentRight {
  grid-area: contentRight;
}
.contentLeft {
  grid-area: contentLeft;
}

.formInline input{
    grid-area: contentLeft;
}

small{
  color: gray;
}