.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
  "circularGraph notifications"
  "barsGraph notifications"; 
  height: 90vh;
  background-color: #ccc;
}

.circularGraph {
  grid-area: circularGraph;
  text-align: center;
  display: grid;
  background-color: #fff;
  color: #000;
  margin: 10px 0px 0px 10px;
  border-radius: 10px;
}
.graph{
  height: 220px;
  width: 220px;
  justify-self: center;
}
.barsGraph {
  grid-area: barsGraph;
  text-align: center;
  margin: 0 0px 10px 10px;
  border-radius: 10px;
  background-color: #fff;
}
.graphB{
  margin: 0px 90px;
}
.notifications {
  grid-area: notifications;
  background-color: #fff;
  margin: 10px 10px 10px 0px;
  border-radius: 10px;
  text-align: center;
  padding: 15px 0px;
}
