$light-base-color: #FFFFFF;
$primary-color: #0E1E49;
$secondary-color: #0077B6;
$font-secondary-color:#A1A4A9;
$light-gray: #F2F2F2;
$font-primary-color: #000000;

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $light-base-color;
	color: $font-primary-color;
	font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}

