.item-list {
  text-align: center;
  overflow-y: scroll;
  height: 80vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "movil statement statement statement statement statement checkBtnContainer";
  border: 1px solid #18a0fb;
  border-radius: 10px;
  margin: 10px;
  padding: 3px;
}

.movil {
  grid-area: movil;
    justify-self: center;
    align-self: center;
}
.movilCircle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 10px;
}
.statement {
  grid-area: statement;
  text-align: left;
}
.checkBtnContainer {
    grid-area: checkBtnContainer;
    justify-self: center;
    align-self: center;
    color: green;
}
.checkBtn:hover{
    color: #00bd03;
}
